<nav class="navbar navbar--inverse">
  <div class="navbar__container container p-0">
    <ul class="navbar__row row p-0 m-0">
      <li class="navbar__col navbar__col--brand col p-0 m-0 d-flex justify-content-start">
        <a class="navbar__link pl-3" href="">BRAND</a>
      </li>
      <li class="navbar__col navbar__col--primary col p-0 m-0 d-flex justify-content-center hidden-xs-down">
        <a class="navbar__link" href="">Products</a>
        <a class="navbar__link" href="">Developers</a>
        <a class="navbar__link" href="">Company</a>
        <a class="navbar__link" href="">Pricing</a>
      </li>
      <li class="navbar__col navbar__col--secondary col p-0 m-0 d-flex justify-content-end hidden-xs-down">
        <a class="navbar__link" href="">Support</a>
        <a class="navbar__link pr-3" href="">Sign in</a>
      </li>
      <li class="navbar__col navbar__col--mobile col p-0 m-0 d-flex justify-content-end hidden-sm-up">
        <a class="navbar-popup__open-button" href="#">MENU</a>
      </li>
    </ul>
  </div>
  <div class="navbar-popup">
    <div class="navbar-popup__container">

    </div>
  </div>
</nav>
