.navbar {
  position: absolute;
  top: rem-calc(10px);
  right: 0;
  left: 0;

  white-space: nowrap;
}

.navbar__row {
  list-style: none;
}

.navbar__link {
  line-height: 50px;
  padding: 0 calc(10px + (100vw - 670px) * .040541);
}


.navbar-popup {
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;

  white-space: nowrap;
  pointer-events: none;

}

.navbar-popup__container {
  background-color: pink;
  height: 500px;
  width: 100%;


  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  border-radius: $border-radius;
  overflow: hidden;
  opacity: 0;
  transform-origin: 100% 0;
  transform: scale(.95);

  transition: $transition-base;

  .navbar-popup--active > & {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
  }
}
