.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

@include to-css($clear-breakpoints, $clear-shortcut, $clear-properties, $clear-modifiers);